.adventurer-idcard__text {
  margin: 0 10px 0 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.adventurer-idcard__text-italic {
  margin: 0 10px 0 0;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
}

