.adventurer-idCard__image {
  margin: 0;
  border: 0;
  background-image: url(../../../images/idcharacters/asterix.gif);
  background-repeat: no-repeat;
  background-size: cover ;
  cursor: pointer;
  max-width: 128px;
  width: 100%;
  height: 128px;
}



.adventurer-idCard__image-button {
  margin: 15px 30px 15px 15px;
  max-width: 136px;
  width: 100%;
  height: 136px;
}

.adventurer-idCard__image-button:hover {
  transform:  scale(1.1);
}
