.popup__submit {
  margin-top: 20px;
  padding: 5px 20px;
  max-width: 240px;
  width: 100%;
  background-color: darkolivegreen;
  color: white;
  border: 2px solid beige;
}

.popup__submit:hover {
  cursor: pointer;
  border-color: gray;
}
