.cards__elements {
  list-style: none;
  margin: 10px 48px 50px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: repeate(4, auto);
  gap: 30px 30px;
  border: 1px solid white;
}
